{
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "no-inline-comments": "off",
    "spaced-comment": "off",
    "unicorn/consistent-function-scoping": "off"
  }
}
